.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 101;
  padding-top: 5px;
}

.sidebar-link {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: lightgray;
}

.sidebar-link img {
  height: 20px;
  margin-bottom: 5px;
}

.sidebar-link div {
  font-family: Roboto, Arial;
  font-size: 10px;
}